body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  /* prevent page scrolling */
  overflow: hidden;
}
.play-button {
  display: flex;
  justify-content: center;
}
.settings-button {
  display: flex;
  justify-content: center;
}
.stats-button {
  display: flex;
  justify-content: center;
}
